LPROG Trabalho/SportsJournal/XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	
	<xsd:element name="sportsJournal" type="sportsJournalType"/>
	
	<xsd:complexType name="sportsJournalType">
		<xsd:all>
			<xsd:element name="news" type="newsType" />
		</xsd:all>
	</xsd:complexType>
	
	<xsd:complexType name="newsType">
		<xsd:sequence>
			<xsd:element name="dateTime" type="dateTimeType" />
			<xsd:element name="author" type="authorType" />
			<xsd:element name="source" type="sourceType" />
			<xsd:element name="title" type="xsd:string" />
			<xsd:element name="abstract" type="xsd:string" />
			<xsd:element name="photos" type="photosType" />
			<xsd:elememt name="otherLanguages" type="otherLanguagesType" />
			<xsd:element name="clubs" type="clubsType" />
			<xsd:element name="sport" type="xsd:string" />
			<xsd:element name="championship" type="xsd:string" />
			<xsd:element name="otherNews" type="otherNewsType" />
			<xsd:element name="comments" type="xsd:string" />
			<xsd:element name="newsBody" type="xsd:string" />
		</xsd:sequence>
		<!-- needs to be changed from string to regular expression -->
		<xsd:attribute name="id" type="xsd:string" use="required" />
		<xsd:attribute name="lang" type="xsd:string" use="required" />
	</xsd:complexType>
	
	<xsd:element name="dateTimeType">
		<xsd:sequence>
			<!-- improve here with 0-31 -->
			<xsd:element name="day" type="xsd:int" />
			<!-- improve here with enumeration -->
			<xsd:element name="month" type="xsd:string" />
			<!-- improve here with [0-9][0-9][0-9][0-9] -->
			<xsd:element name="year" type="xsd:int" />
			<!-- improve here with [0-2][0-9]:[0-5][0-9] -->
			<xsd:element name="time" type="xsd:string" />
		</xsd:sequence>
	</xsd:element>
	
	<xsd:element name="authorType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<!-- improve with regular expression to validate email addresses -->
			<xsd:element name="email" type="xsd:string" />
		</xsd:sequence>
	</xsd:element>
	
	
	
</schema>